*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --black:black;
    --white:white;
}
a{
    
    text-decoration: none;
    text-transform: capitalize;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
  width: 1170px;
  }
}
section main .hero {
    background-image: url(../images/hero.webp);
    height: calc(100vh - 73.2px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section main .hero .container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc(100% - 73.2px);
}
section main .hero .container h1{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 69px;
    color: var(--black);
}

section main .hero .container .buttoms .button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 17px;
    border: 1px solid transparent;
    background-color: var(--white);
    padding: 10px;
    width: 150px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px 0px gray;
}